html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}
/* Fixed Header */

header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 10;
  top: 0;
}

nav.nav {
}

img.logo {
  height: 50px;
  margin-left: 10px; 
}

a.navlinks {
  color:seashell;
  text-decoration: underline;
}

/*  Mission Section */

section.container1 {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  height: 31.81rem; 
}

div.banner {
  background-color: black;
  width: 100%; 
}

/*  Featured Tea  */
section.container2 {
  width: 1000px;
  margin-left: 8rem; 
}

div.section-headers {

}

div.img-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 /* margin-left: 2.5rem;   */
}

img.content {
  margin-bottom: 0.5rem;
}

figure {
  margin: 0 0 10px 0;
}

/*  Locations */
section.container3 {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
}

div.location-header {
  padding-top:3.5rem;
}

div.card-container {
  display: flex;
  justify-content:center;
}

div.location-card {
  background-color:black;
  margin: 15px 20px 0px 20px;
  width: 300px;
  opacity: 1;
}

address {
  line-height: 2rem;
}

/* Footer */
div.container4 {
  height:200px;
  display: flex;
  flex-flow: column;
}

div.copyrightcontainer {
  text-align: left;
  margin-left: 20px;
}